*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1753869845745.log
/.kotlin/errors/errors-1753870091862.log
/.kotlin/errors/errors-1753870207909.log
/.kotlin/errors/errors-1753870329847.log
/.kotlin/errors/errors-1753870623885.log
/.kotlin/errors/errors-1753870807576.log
/.kotlin/errors/errors-1753871162637.log
/.kotlin/errors/errors-1753871235142.log
